## Fehlerbehandlung mit Pandas

Fehler in den Daten selbst beheben

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Data/PopulationDataFastFertig.csv", delimiter=",", thousands=",", decimal=".", index_col="Country")

In [3]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Probleme mit dem Datenset

- NaN
- N.A.
- Prozentzeichen
- Datentypen (effiziente Typen)

#### NaN

isnull(), notnull()

isna(), notna()

In [4]:
data.notna()

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,True,True,True,True,True,True,True,True,True,True
India,True,True,True,True,True,True,True,True,True,True
United States,True,True,True,True,True,True,True,True,True,True
Indonesia,True,True,True,True,True,True,True,True,True,True
Pakistan,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
Montserrat,True,True,True,True,True,False,True,True,True,True
Falkland Islands,True,True,True,True,True,False,True,True,True,True
Niue,True,True,True,True,True,False,True,True,True,True
Tokelau,True,True,True,True,True,False,True,True,True,True
Vatican State,True,True,True,True,True,False,True,True,True,True

In [5]:
data["Migrants"].isna()

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: Migrants, Length: 235, dtype: bool

In [6]:
x = data["Migrants"].isna()

In [7]:
data["Migrants"][x]

Country
Isle of Man                NaN
Andorra                    NaN
Dominica                   NaN
Cayman Islands             NaN
Bermuda                    NaN
Marshall Islands           NaN
Northern Mariana Islands   NaN
Greenland                  NaN
American Samoa             NaN
Saint Kitts & Nevis        NaN
Faeroe Islands             NaN
Sint Maarten               NaN
Monaco                     NaN
Turks and Caicos           NaN
Saint Martin               NaN
Liechtenstein              NaN
San Marino                 NaN
Gibraltar                  NaN
British Virgin Islands     NaN
Caribbean Netherlands      NaN
Palau                      NaN
Cook Islands               NaN
Anguilla                   NaN
Tuvalu                     NaN
Wallis & Futuna            NaN
Nauru                      NaN
Saint Barthelemy           NaN
Saint Helena               NaN
Saint Pierre & Miquelon    NaN
Montserrat                 NaN
Falkland Islands           NaN
Niue                       NaN
Tokelau                    NaN
Vatican State              NaN
Name: Migrants, dtype: float64

In [8]:
data.isna().value_counts()

Population  YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPopPct  WorldSharePct
False       False         False      False    False     False     False     False   False        False            201
                                                        True      False     False   False        False             34
Name: count, dtype: int64

In [9]:
data["Migrants"][x] = 0  # Funktioniert, sollte aber per loc gemacht werden

C:\Users\lk3\AppData\Local\Temp\ipykernel_7064\810017183.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data["Migrants"][x] = 0  # Funktioniert, sollte aber per loc gemacht werden
C:\Users\lk3\AppData\Local\Temp\ipykernel_7064\810017183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["Migrants"][x] = 0  # Funktioniert, sollte aber per loc gemacht werden

In [10]:
data.loc[x, "Migrants"] = 0

In [11]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

#### dropna(), fillna()

dropna(): Wirft alle Zeilen mit NaN Werten weg

fillna(): FÃ¼llt NaN Werte mit den vorherigen/nachfolgenden Werten auf

In [12]:
data.fillna(method="ffill")

C:\Users\lk3\AppData\Local\Temp\ipykernel_7064\2321864255.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [13]:
data.ffill(inplace=True)

### N.A.

Keine automatische LÃ¶sung -> manuell

Via. String Replace

In [15]:
data == "N.A."

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,False,True,True,False,False
Falkland Islands,False,False,False,False,False,False,True,True,False,False
Niue,False,False,False,False,False,False,True,True,False,False
Tokelau,False,False,False,False,False,False,True,True,False,False
Vatican State,False,False,False,False,False,False,True,True,True,False

In [16]:
(data == "N.A.").value_counts()

Population  YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPopPct  WorldSharePct
False       False         False      False    False     False     False     False   False        False            194
                                                                  True      True    False        False             28
                                                                  False     False   True         False              7
                                                                  True      True    True         False              6
Name: count, dtype: int64

Spaltenweise machen -> Spalten durchgehen, prÃ¼fen wo N.A. Werte sich befinden, mit loc austauschen

In [17]:
for col in data.columns:
    x = data[col] == "N.A."
    data.loc[x, col] = 0

In [18]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

In [21]:
def fixNA(colName: str, newValue):
    x = data[colName] == "N.A."
    data.loc[x, colName] = newValue

In [20]:
for col in data.columns:
    fixNA(col, 0)

### Prozentzeichen

Muss mithilfe von String Replace gemacht werden

In [27]:
data["YearlyChange"].replace(" %", "", regex=True)

Country
China               0.39
India               0.99
United States       0.59
Indonesia           1.07
Pakistan            2.00
                    ...
Montserrat          0.06
Falkland Islands    3.05
Niue                0.68
Tokelau             1.27
Vatican State       0.25
Name: YearlyChange, Length: 235, dtype: object

In [28]:
data["YearlyChange"] = data["YearlyChange"].replace(" %", "", regex=True)

In [29]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00 %

In [30]:
def fixPct(colName):
    x = data[colName].replace(" %", "", regex=True)
    data[colName] = x

In [33]:
for col in data.columns:
    fixPct(col)

In [32]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

### Datentypen

Bei den vorherigen Ã„nderungen wurden die Typen nicht angepasst

-> Manuell

In [34]:
data.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Population     235 non-null    Int64
 1   YearlyChange   235 non-null    string
 2   NetChange      235 non-null    Int64
 3   Density        235 non-null    Int64
 4   LandArea       235 non-null    Int64
 5   Migrants       235 non-null    Int64
 6   FertRate       235 non-null    object
 7   MedAge         235 non-null    object
 8   UrbanPopPct    235 non-null    object
 9   WorldSharePct  235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

In [39]:
data["Population"] = data["Population"].astype(np.int32)

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Population     235 non-null    int32
 1   YearlyChange   235 non-null    object
 2   NetChange      235 non-null    int64
 3   Density        235 non-null    int64
 4   LandArea       235 non-null    int64
 5   Migrants       235 non-null    float64
 6   FertRate       235 non-null    object
 7   MedAge         235 non-null    object
 8   UrbanPopPct    235 non-null    object
 9   WorldSharePct  235 non-null    object
dtypes: float64(1), int32(1), int64(3), object(5)
memory usage: 27.4+ KB

In [41]:
def fixType(colName, newType):
    data[colName] = data[colName].astype(newType)

In [42]:
fixType("YearlyChange", np.float32)

In [43]:
fixType("NetChange", np.int32)

In [44]:
fixType("Density", np.int16)

In [45]:
fixType("LandArea", np.int32)

In [46]:
fixType("Migrants", np.int32)

In [47]:
fixType("FertRate", np.float32)

In [48]:
fixType("MedAge", np.int8)

In [49]:
fixType("UrbanPopPct", np.int8)

In [50]:
fixType("WorldSharePct", np.float32)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Population     235 non-null    int32
 1   YearlyChange   235 non-null    float32
 2   NetChange      235 non-null    int32
 3   Density        235 non-null    int16
 4   LandArea       235 non-null    int32
 5   Migrants       235 non-null    int32
 6   FertRate       235 non-null    float32
 7   MedAge         235 non-null    int8
 8   UrbanPopPct    235 non-null    int8
 9   WorldSharePct  235 non-null    float32
dtypes: float32(3), int16(1), int32(4), int8(2)
memory usage: 17.3+ KB

In [53]:
17.3/27.4  # ~37% Speicherersparnis

0.6313868613138687

In [61]:
for row in data["Population"]:
    try:
        x = int(row)
    except:
        print(f"Zeile kann nicht zu int konvertiert werden: {row}")
        
    try:
        x = float(row)
    except:
        print(f"Zeile kann nicht zu float konvertiert werden: {row}")

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [54]:
data.to_csv("Data/PopulationDataFertig.csv")